html {
  font-size: 20px;
}

body {
  text-align:center;
  font-family: "Arial", "Meiryo", sans-serif
}

.text-skyblue{
  color: skyblue;
}

.text-pink{
  color: rgb(255,192,203);
}

/* Josefin Sans */
h1 {
  font-size: 2rem;
  letter-spacing: 1.2em;
  border-bottom: solid 3px rgb(115, 115, 114);
  text-shadow: 1px 2px 3px gray;
}

.google-fonts {
  font-family: "Josefin Sans", sans-serif;
}


#basic {
  font-weight: bold;
}

